#container {padding: 1%; overflow: hidden; --bg-color : #000; background-color: var(--bg-color); color: #fff;}
.header-wrap {width: 100%; height: 55vh; display: flex; justify-content: space-between; flex-direction: column;}
.m-tit {font-weight: bold; font-size: 7vw; text-align: left; letter-spacing: 2px;}
.h-f2 {margin-top: -13px;}
.m-visual {width: 100%; height: 70vh; overflow: hidden; background: url('../img/m_visual_img1.jpg')no-repeat center / cover fixed; margin: auto;}
.h-gnb {width: 100%; display: flex; align-items: flex-start; justify-content: flex-end; display: none;}
.h-gnb li {margin-bottom: 1%;}
.h-gnb li:not(:last-child) {margin-right: 28px;}
.h-gnb a {display: block; color: #fff; font-size: 18px; letter-spacing: 3px; font-weight: 300; transition: all 0.2s;}
.h-gnb a:hover {letter-spacing: 4px; transition: all 0.2s; font-weight: 400;}

.m-about {padding: 15% 0;}
.sec1-tbox p {text-align: center; color: #fff; font-size: 26px; font-weight: 300; line-height: 1.6; letter-spacing: 1px;}
.sec1-tbox p span {font-size: 18px;}

.txt-line, .a-line {display: inline-block; background: linear-gradient(to right, rgba(100, 200, 200, 0.25), rgba(100, 200, 200, 0.25)), linear-gradient(to right, rgba(254,206,0,0.4), rgba(254,206,0,1), rgba(254,206,0,0.4)); background-position: 100% 92%, 0 92%; background-repeat: no-repeat; background-size: 100% 0.07em, 0 0.07em; transition: background-size 400ms;}
.txt-line2, .a-line2 {background: linear-gradient(to right, rgba(100, 200, 200, 0.25), rgba(100, 200, 200, 0.25)), linear-gradient(to right, rgba(0,255,237,0.6), rgba(0,255,237,1), rgba(0,255,237,0.6)); background-size: 100% 0.07em, 0 0.07em; background-position: 100% 92%, 0 92%; background-repeat: no-repeat; transition: background-size 400ms;}
.a-line3 {background: linear-gradient(to right, rgba(100, 200, 200, 0.25), rgba(100, 200, 200, 0.25)), linear-gradient(to right, rgba(227,182,255,0.7), rgba(227,182,255,1), rgba(227,182,255,0.7)); background-size: 100% 0.07em, 0 0.07em; background-position: 100% 92%, 0 92%; background-repeat: no-repeat; transition: background-size 400ms;}
.a-line {animation: a-line 1s ease-in 1 forwards;}
.a-line2 {animation: a-line2 1s ease-in 1 forwards; animation-delay: 1.2s;}
.a-line3 {animation: a-line3 1s ease-in 1 forwards; animation-delay: 2.5s;}
.a-line, .a-line2, .a-line3 {animation-timing-function: ease;}
.txt-line:hover, .txt-line2:hover {background-size: 0 0.07em, 100% 0.08em;}
@keyframes a-line {
100% {background-size: 0 0.07em, 100% 0.08em;}
}
@keyframes a-line2 {
100% {background-size: 0 0.07em, 100% 0.08em;}
}
@keyframes a-line3 {
100% {background-size: 0 0.07em, 100% 0.08em;}
}

.sec-box {height: 100vh; display: flex; align-items: center; justify-content: space-between;}
.sec-left {width: 40%; display: flex; align-items: center; justify-content: space-between;}
.sec-tit {font-size: 48px; display: flex; align-items: center; font-family: 'Nanum Myeongjo', serif;}
.sec-tit span {font-size: 70px; letter-spacing: -10px; display: block; margin-right: 15px;}

.sec-btn-bt {display: flex; align-items: flex-start; flex-direction: column; margin-right: -50px; position: relative; z-index: 1; gap: 30px;}
.sec-btn-bt a {font-size: 22px; line-height: 2; transition: all 0.2s;}

.sec-right {background: url('../img/pf_img01.jpg')no-repeat center / cover; width: 60%; padding-bottom: 40%; margin-left: auto; filter: brightness(0.6); transform: translate(100%,-50%); position: absolute; top: 50%; right: 0;}
.m-bg02 {background-image: url('../img/pf_img02.jpg')}
.m-bg03 {background-image: url('../img/pf_img03.jpg')}
.m-bg04 {background-image: url('../img/pf_img04.jpg')}
.m-bg05 {background-image: url('../img/pf_img05.jpg')}
.m-bg06 {background-image: url('../img/pf_img06.jpg')}
.m-bg07 {background-image: url('../img/pf_img07.jpg')}
.m-bg08 {background-image: url('../img/pf_img08.jpg')}
.m-bg09 {background-image: url('../img/pf_img09.jpg')}

footer {padding: 6% 0 0;}
.f-top .sec1-tbox {padding: 9% 0 14%; text-align: center;}
.f-top .sec1-tbox p {font-size: 20px;}
.f-top .sec1-tbox p + em {font-size: 26px; padding-top: 12px;}
.f-bot {display: flex; flex-flow: row wrap; align-items: center; justify-content: space-between;}
.f-right {display: flex; align-items: center; flex-flow: row wrap;}
.f-right li:first-child {margin-right: 20px;}
.f-right a {display: inline-block; border:1px solid #fff; border-radius: 30px; padding: 10px 30px; font-size: 14px; transition: all 0.3s;}
.f-right a:hover {background: #fff; color: #000; border: 1px solid #fff;} 